$background-primary: #272A33;
$background-basic: #454D60;
$text-color-primary: #FFFFFF;
$border-color-primary: #303542;
$orange-color: #FF7324;
$basic-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
$soft-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
$divider-color-basic: #3B4151;
$card-background-color: #343744;
$opaque-background-color: rgba(39, 42, 51, .7);
$border-color-secondary: #23252D;
$title-color-primary: #D8D8D8;
$border-color-dark: #23252D;
$info-text-color: #7D8292;
$error-color: #E74C3C;
$blue-primary-color: #1976D2;
$disable-text-color: rgba(255, 255, 255, .1);
$green-active: #2ECC71;
$card-hover-shadow: -4px 6px 12px $border-color-dark;
$copyright-text-color: #5F6472;
$h1-font-size: 1.5rem;
$h2-font-size: 1.4rem;
$h3-font-size: 1.2rem;
$h4-font-size: .9rem;
$font-primary: IranYekan;
//$font-secondary: Montserrat;
$menu-background-color: #1b1f27;
$menu-border-color: rgba(0, 0, 0, 0.15);
$menu-link-color: #777d8d;
$divider-menu: #383a42;
$menu-list-hover: #343a49;