.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(39, 42, 51, .7), rgba(39, 42, 51, 1)), url("../images/banner.jpg") no-repeat center;
  background-size: cover;
  height: 280px;
}

